.node {
  position: absolute;
  width: 20px;
  height: 20px;
  background: cornflowerblue;
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}

.dot {
  position: absolute;
  width: 1px;
  height: 1px;
  background: #000;
}
